@import "../../../../assets/scss/variable";
@import "../../../../assets/scss/media";
@import "../../../../assets/scss/mixins";

.card {
  min-height: 200px;
  transition: all 0.3s ease;

  .card-header {
    h4 {
      @include media-breakpoint-up(1300) {
        font-size: 26px;
      }
      @include h5(30px,41px);
    }
    p {
      @include p(18px, 22px, $blueColor);
      width: 70%;
      @include media-breakpoint-up(1300) {
        width: 100%;
        margin-bottom: 10px;
        display: block !important;
      }
    }
    img {
      max-width: 100%;
      display: none;
      width: 100%;
      @include media-breakpoint-up(1300) {
        display: block !important;
        width: unset;
      }
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
  }
}
