@import "../../../assets/scss/variable";
@import "../../../assets/scss/media";
@import "../../../assets/scss/animations";
@import "../../../assets/scss/mixins";


section#contact {


  @include media-breakpoint-up(md) {
    padding: 80px 0 10px;
  }

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-up(sm) {
      flex-direction: column;
    }

    .contact-box:nth-child(1) {
      flex-basis: 40%;

      .home-content-text {

        h4 {
          @include h4(36px, 46px, $blueColor);
          width: 370px;
          text-transform: uppercase;
          margin-bottom: 40px;
          @include media-breakpoint-up(md) {
            width: 100%;
          }
        }

        p {
          @include p(26px, 45px, $blueColor);
          width: 80%;
        }
      }

      //.content-text {
      //  h4 {
      //    @include h4(36px, 46px, $blueColor);
      //    width: 370px;
      //    text-transform: uppercase;
      //    margin-bottom: 40px;
      //  }
      //
      //  p {
      //    @include p(26px, 45px, $blueColor);
      //    width: 80%;
      //  }
      //
      //}

      .contact-content-text {
        h4 {
          @include h4(36px, 46px, $blueColor);
          width: 498px;
          text-transform: uppercase;
          margin-bottom: 40px;
        }

        p {
          @include p(26px, 45px, $blueColor);
          width: 80%;
        }

        ul {
          display: flex;
          justify-content: space-between;
          width: 90px;
          margin: 20px 0;
        }
      }

      .modal-content-text {
        h4 {
          @include h4(36px, 46px, #ffffff);
          width: 370px;
          text-transform: uppercase;
          margin-bottom: 40px;
          @include media-breakpoint-up(md) {
            width: 100%;
          }
        }

        p {
          @include p(26px, 45px, #ffffff);
          width: 80%;
        }
      }
    }

    .contact-box:nth-child(2) {
      flex-basis: 50%;

      form {
        label {
          @include label(0);
        }

        input, select {
          @include contactInput($blueColor, $blueColor);
        }

        .form-group {
          @include formGroup();

        }

        .form-row {
          min-height: 90px;

          @include media-breakpoint-up(md) {
            min-height: 70px;
          }
        }

        button {
          @include yellowBtn();
        }

        button:disabled {
          @include disabledBtn();
        }

        small {
          font-family: "Segoe UI";
          font-size: 15px;
          padding: 6px;
          display: block;
          color: red;
        }

      }
    }

    .contact-box {
      @include media-breakpoint-up(sm) {
        margin-bottom: 30px;
      }
    }
  }
}

section#contact.home-bg {
  background: #E5E5E5;
  padding: 150px 0;
}

section#contact.contact-bg {
  background: #ffffff;
  margin-top: 200px;
}

section#contact.modal-show {
  padding: 200px 0 0;
  background: $blueColor;
  height: 100%;
  width: 100%;
  position: relative;

  svg {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 76px;
    top: 35px;
    fill: $yellowColor;
    cursor: pointer;
  }


  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-up(sm) {
      flex-direction: column;
    }

    .contact-box:nth-child(1) {
      flex-basis: 40%;

      h4 {
        @include h4(36px, 46px, #fff);
      }

      p {
        @include p(26px, 45px, #fff);
      }
    }

    .contact-box:nth-child(2) {
      flex-basis: 50%;

      form {
        label {
          @include label(0);
        }

        input {
          @include contactInput(#ffffff, #ffffff);
        }
        select {
          @include contactInput(#ffffff, #ffffff);

          option {
            color: $blueColor;
          }
        }

        .form-group {
          @include formGroup();

        }

        //.form-row {
        //  margin-bottom: 25px;
        //}

        button {
          @include yellowBtn();
        }

        button:disabled {
          @include disabledBtn();
        }
      }
    }

    .contact-box {
      @include media-breakpoint-up(sm) {
        margin-bottom: 30px;
      }
    }
  }
}
