<div class="login">
	<form class="card" [formGroup]="form" (ngSubmit)="submit()">
		<h4>Login in admin panel</h4>
		<p>Welcome back, please login to your account.</p>
		<div class="alert alert-danger" *ngIf="auth.error$ | async as error">
			{{error}}
		</div>

		<div class="alert alert-danger" *ngIf="message">
			{{message}}
		</div>

		<div
			[ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
			class="form-control">
			<label for="email">email
				<input type="email" id="email" formControlName="email">
				<i class="material-icons">
					how_to_reg
				</i>
			</label>
			<div
				*ngIf="form.get('email').touched && form.get('email').invalid"
				class="validation">
				<small *ngIf="form.get('email').errors.required">
					write email
				</small>

				<small *ngIf="form.get('email').errors.email">
					correct email
				</small>
			</div>
		</div>

		<div
			[ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"

			class="form-control password">
			<label for="password">password
				<input type="password" id="password" formControlName="password">
				<i class="material-icons">
					lock
				</i>
			</label>
			<div
				*ngIf="form.get('password').touched && form.get('password').invalid"
				class="validation">
				<small *ngIf="form.get('password').errors.required">
					correct password
				</small>

				<small *ngIf="form.get('password').errors.minlength">
					password must be more
					{{form.get('password').errors.minlength.requiredLength}} simbols,
					now {{form.get('password').errors.minlength.actualLength}} simbols!
				</small>
			</div>
		</div>

		<button
			[disabled]="form.invalid || submitted"
			type="submit"
			class="btn btn-primary">login
		</button>


	</form>
</div>
